body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 3fr 1fr; /*отображение контента в таблице*/
    gap: 20px;
  }
  
  nav {
    background-color: #000;
    padding: .5em;
    top: 0;/*верх экрана*/
    position: sticky;  /*прилипает к верху экрана при прокрутке*/
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;  /*распределяет текст на равноотдаленые отрезки с заполнением места по бокам*/
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1px; /*отступы между контентом в таблице*/
    grid-template-columns: 1fr 1fr; /*отображение контента в таблице*/
  }

  .feature {
      width: 200px;    
      float: left;     /*обтикание изображения текстом*/
      margin: 0 20px 20px 0;  /*отступы изображение от текста*/
  }