body {
    width: 300px;
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: sans-serif;
  }
  
  p {
    line-height: 1.4;
  }
  
 .pp a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
 .pp a:link {
    color: #13b4cd;
  }
  
 .pp a:visited {
    color: #23146e;
  }
  
  .pp a:focus {
    border-bottom: 2px solid;
    background: #ffff00;
  }
  
  .pp a:hover {
    border-bottom: 1px solid;
    background: #b80c6d;
  }
  
 .pp a:active {
    background: #265301;
    color: red;
  }
 .pp a[href*="http"] {
    background: url("icons8-external-link-26.png") no-repeat 100% 0;
    background-size: 15px 15px;
    padding-right: 19px;
  }




  ul {
    padding: 0;
    width: 100%;
  }
  
  li {
    display: inline;
  }
  
 .tt a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 19.5%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: black;
  }
  
  li:last-child a {
    margin-right: 0;
  }
  
 .tt a:link,
  a:visited,
  a:focus {
    background: yellow;
  }
  
 .tt a:hover {
    background: orange;
  }
  
 .tt a:active {
    background: red;
    color: white;
  }
  